@import url('../../src/vendor/normalize.css');

.body {
  height: 100%;
  border: 1px solid red;;
}

.page {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100%;
  border: 1px solid red;

}

.header {
  text-align: center;
}
