@import url('../../src/vendor/normalize.css');

ul,
ol,
li {
  list-style: none;
}



html {
  height: 100%;
}

.body {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100%;

  font-family: Roboto, sans-serif;
  font-weight: 200;

  background-color: black;


}

.header {
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

.project-title {
font-weight: 200;
}

.content {
text-align: center;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  flex: 1 0 auto;

}

.form-container {
  background-color: white;
  border-radius: 20px;
  min-height: 40px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}


.input-form {
max-height: 80px;
  height: 100%;

width: 100%;
  border-style: none;

margin-left: 8px;
  margin-right: 6px;

background-color: transparent;



}

.button {
  margin-right: 3px;
  /*position: absolute;*/
  /*right: 3px;*/
  /*top: 3px;*/
  /*top: 50%;*/
  /*transform: translate(0, -50%);*/
background-repeat: no-repeat;
  background-position: center;
  min-width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: black;
  color: white;
}

.button:hover {
  transition: ease-in .1s;
  opacity: .7;
}

.btn-add {
background-image: url('../images/add_button.svg');
  background-size: 18px;

}


.list {
  padding: 0;



}

.list-item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  min-height: 40px;
  font-size: 20px;
  outline: 2px solid white;
  color: white;
  border-radius: 20px;
}

.list-checkbox {
  border: 1px solid #ddd;
  appearance: none;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 10px;
  min-width: 30px;
  height: 30px;
}



.list-checkbox:checked {
  background-image: url('../images/Check_green_circle.svg');
  border: none;
}

.list-checkbox:hover {
  transition: ease-in .1s;
  opacity: .8;
}

.list-item__text {
  margin: 8px 0;
  width: 317px;

  text-align: start;

}


.btn-delete {

  background-image: url('../images/thrash.svg');

}





.footer {
  padding-bottom: 20px;
  text-align: center;
  flex: 0 0 auto;
  color: white;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  transition: ease-in .1s;
  opacity: .4;
}
